@page
@model IMS.Pages.StudentViews.IndexModel

@{
    ViewData["Title"] = "Add";
}

<p>
    <a asp-page="Create" type="button" class="btn btn-info">Add New</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].RollNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RollNo)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.id" type="button" class="btn btn-info">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.id" type="button" class="btn btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.id" type="button" class="btn btn-info">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
