@page
@model IMS.Pages.ContactUsViews.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact Us</h4>
    <hr />
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContactUs.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactUs.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactUs.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactUs.Message)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ContactUs.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContactUs.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContactUs.Contact)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContactUs.Message)
                </td>
            </tr>
        </tbody>
    </table>
    <form method="post">
        <input type="hidden" asp-for="ContactUs.id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" type="button" class="btn btn-info">Back to List</a>
    </form>
</div>
